.table {
  width: 100%;
}
.tableHead {
  width: 100%;
  position: sticky; top: 0;
}
.tableBody {
  width: 100%;
}
.tableFixed    {
  overflow: auto;
  max-height: 510px;
}
.tableRow {
  display: flex;
  flex-direction: row;
}